.letters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.letters > span {
    display: block;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #323232;
    color: #F9F4DA;

    border-bottom: 1px solid #F9F4DA;
    font-size: 18px;
    font-weight: 700;
}