.screen {
    width: 352px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #10A95B;
    padding: 6px;
    border-radius: 4px;

    animation: showUp 1s ease-in;
}

@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.screen > h1 {
    font-weight: 500;
    font-size: 20px;
}

.screen > p {
    font-size: 16px;
    font-weight: 500;
}